.About {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    /*margin-top: 100PX;*/
}

.heading {
    margin-top: 100px;
    text-align: center;
    color: #2563eb;
}




.paragraph {
    /*margin: 20px 80px;*/
    line-height: 1.6;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

.paragraph img {
    max-width: 200px;
    /* Adjust size as needed */
    text-align: center;
    height: auto;
    border-radius: 50%;
}

/* Ensure logo scales properly on smaller screens */
@media (max-width: 768px) {
    .paragraph img {
        max-width: 140px;
        /* Reduce size for smaller screens */
        padding: 5px 0;
        /* Reduce padding */
    }
}

.devloper {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.devloper .head {
    font-size: 1.5rem;
    color: #2563eb;
    margin-bottom: 10px;
}

.devloper p {
    margin: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.devloper img {
    max-width: 200px;
    /* Adjust size as needed */
    height: auto;
    margin-top: 20px;
    border-radius: 50%;
    /* Circular image */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for the image */
}